@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("font/open_sans.woff") format('woff');
}
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("font/fontawesome-webfont.woff") format('woff'), url("font/fontawesome-webfont.ttf") format('truetype'), url("font/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
article .header /* 标题前的竖线 */ {
  border-left: 1px solid #4d4d4d;
  padding: 0 0 0 10px;
  text-align: left;
}
article .header /* 标题前的竖线 */ time /* 时间 */ {
  color: #4d4d4d;
  font: 0.9em font-title;
  display: block;
}
body {
  padding-top: 70px;
/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
footer {
  margin: 30px 0;
}
/* add */
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-brand {
  height: 40px;
  padding-top: 10px;
}
.navbar {
  min-height: 40px;
}
.navbar-toggle {
  margin-top: 4px;
  margin-bottom: 4px;
}
.navbar-toggle {
  margin-top: 4px;
  margin-bottom: 4px;
}
/* 懒人 */
.navbar-header .navbar-brand {
  color: #fff;
}
/* link */
a {
  color: #000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2f96e8;
  text-decoration: none;
}
/* more */
.btn-primary {
  color: #fff;
  background-color: #2f96e8;
  border-color: #2f96e8;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2f96e8;
  border-color: #2f96e8;
  text-decoration: underline;
}
