/* =============================================================================
   container
   ========================================================================== */
.container {  
  width: 980px;
} 

.container-narrow {
  margin: 0 auto;
  max-width:980px;
}

/* =============================================================================
   Body and structure
   ========================================================================== */

body {
  position: relative;
  padding-top: 40px;
  background-color: #fff;
  background-repeat: repeat-x;
  font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}


.col-md-1 {
  padding-right: 0;
  padding-left: 0;
}

.col-md-10 {
  padding-left: 20px;
  padding-right: 40px;
}

/* =============================================================================
   Article
   ========================================================================== */

article {
  font-size: 0.9em;
  color: #777;
}

/*标题前的竖线
article .header {
  border-left: 0.2em solid #545652;
  text-align: left;
}*/


article .title {
  font-weight: normal;
  font-size: 2.5em;
}

article .title a {
  color: #000;
  text-decoration: none;
}

article .title a:hover,
a:focus {
  text-decoration: none;
  color: #1382DA;
}

article .title span a {
  color: #337AB7;
  text-decoration: none;
  float: right;
}

article .title span a:hover,
a:focus {
  color: #235290;
  text-decoration: underline;
}

article .title span.time {
  font-size: 0.4em;
  margin-top: 0;
  margin-bottom: 30px;
  color: #000;
  display: block;
}


h1, h2, h3,h4, h5, h6 {
  font-size: 0.9em;
  color: #666;
  font-weight: 600;
}

.side-icon{
  padding-top: 8px;
  padding-left: 10px;
  color: #545652;
}

.side-icon a:hover,
a:focus {
  color: #1382DA;
  text-decoration: none;
}

.side-icon .angle {
  padding-top: 5px;
  
  
}

/* =============================================================================
   navbar
   ========================================================================== */
/* nav背景*/
.navbar-default {
  background: #545652;
  border-color: #545652;
}


/* menu选项 
.navbar-nav {
  /*background: #0C7854;
} */


.navbar {
  min-height: 40px;
  padding: 0 10px;
}

.navbar-toggle {
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar-toggle {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* logo and link */
.navbar-header .navbar-brand {
  height: 40px;
  padding-top: 10px;
  color: #fff;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #eee;
    background-color: transparent;
}


/* menu list and link*/
.navbar-default .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #D5D5E7;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

/* =============================================================================
   under navbar
   ========================================================================== */
.under-navbar {
  font-size: 1em;
  color: #777;  
  display: block;
  list-style: none;
  padding-top: 20px;
}




/* =============================================================================
   hyper links
   ========================================================================== */
/*
a {
  color: #4183C4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #4183C4;
  text-decoration: underline;
} */

/* =============================================================================
   Read More
   ========================================================================== */

.btn-primary {
  color: #fff;
  background-color: #2F96E8;
  border-color: #2F96E8;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2F96E8;
  border-color: #2F96E8;
  text-decoration: underline;
}

/* =============================================================================
   other
   ========================================================================== */
hr {
  border-bottom: 1px;
  border-color: #CCC;
  margin: 8px 0 15px 0;
}


/* =============================================================================
   footer
   ========================================================================== */
footer {
    padding: 10px 0 15px 15px;
    text-align: left;
    font-size: 0.9em;
    color: #777;
    text-indent: 15px;
}

/* =============================================================================
   sidebar
   ========================================================================== */
#sidebar {
  margin: 50px 10px;
  padding: 0 20px 0 0;
  line-height: 1.8em
}

#sidebar ul, ol, dl {
  list-style: none; 
}

.about_me {
  background-color: #F5F5F5;
}

.about_me .entry {
  font-size: 0.8em;
  padding: 10px 10px 0 10px;
  display: block;
}

.about_me .top {
  background-color: #000;
}


.about_me .top-img {
  float: left;
  display: block;
  margin-right: 10px;
}

.about_me p {
  line-height: 1.5em;
  color: #777;
}





/* =============================================================================
   social-icons
   ========================================================================== */

.social-icons a {
  margin-top: 3px;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.social-icons a:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
  transition: none;
}

.social_github {background: url(/img/icons/github-ico.png) no-repeat;}
.social_qq {background: url(/img/icons/qq-ico.png) no-repeat;}
.social_weibo {background: url(/img/icons/weibo-ico.png) no-repeat;}


/* =============================================================================
   tags
   ========================================================================== */
 .article-tag {
  float: left;
  font-size: 1em;
}

.article-tag a{
  color: #777;
}

.article-tag a:hover,
a:focus {
  color: #fff;
  background-color: #777;
  padding: 0 2px;
  text-decoration: none;
}



